<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

    <resultMap id="UserResultMap" type="org.example.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="userPic" column="user_pic"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="userPic != null and userPic != ''">
                user_pic = #{userPic},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateAvatar">
        update user
        <set>
            <if test="userPic != null and userPic != ''">
                user_pic = #{userPic},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updatePassword">
        update user
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getUserByName" resultMap="UserResultMap">
        select id,
               username,
               password,
               nickname,
               email,
               user_pic,
               create_time,
               update_time
        from user
        where username = #{username}
    </select>

    <insert id="add">
        insert into user (username, password, nickname, email, user_pic, create_time, update_time)
        values (#{username}, #{md5String}, '', '', '', now(), now())
    </insert>

</mapper>
